<!DOCTYPE html>
<html>
  <head>
      <%- include('../../public/script/header') %>
    <title>Temperature</title>

  </head>
  <body>
    <%- include('../../public/script/navbar') %>
    <div>

     
     
    <div class ="content container">
       
      <div id="body-content">
<<<<<<< HEAD
          <h1 class="hide-iframe">Temperature</h1>
          
          <div class="header header-sub hide-desktop show-iframe">
              <div class="header-sub-header">
                  <p>Temperature</p>
              </div>
          </div>
          
          <div id="content-box">
              <p id="first-p" class="intro-text">Edit by Psyduck and the Gang</p>
=======
              <div class="">
                <div class="subpage__header">
                  <h1>Temperature</h1>
                </div>
                <a class="active btn btn-success" href="/temperature/get">Update Temperature</a>
              </div>
          <!-- Content box-->
          <div class="" id="content-box">
>>>>>>> f5ab8e26bf6542f2f74d95686ec0c03654ace625
              <table id="searchable-table" class="display">
                  <% if(temperature.length>0) { %>
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>sensID</th>
<<<<<<< HEAD
                          <th>Value</th>
=======
                          <th>Val</th>
>>>>>>> f5ab8e26bf6542f2f74d95686ec0c03654ace625
                          <th>Date</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          
         </div>
         <div id="footer" class="header hide-desktop show-mobile">
              <a href="#">Scroll to top</a>
          </div>
<<<<<<< HEAD
          
          </div>
          
=======
          <!-- Close body content-->
        </div>
          <!-- Templates -->
>>>>>>> f5ab8e26bf6542f2f74d95686ec0c03654ace625
          <script id="datatable-template" type="">
              <% for(var i=0; i<temperature.length;i++) { %> 
              <tr class="row100 body">
                  <td><%= temperature[i].TeamID %></td>
                  <td><%= temperature[i].sensID %></td>
                  <td><%= temperature[i].val %></td>
                  <td><%= temperature[i].date.toLocaleString() %></td>
                </tr>
                
                <% } %>

                <% } else { %>
                  <div>No temperature found.</div>
                <% } %>
      </script>

     
    
  
  <script src="/datatable-template-master/js/base.js"></script>
  <script src="/datatable-template-master/js/datatable-tabletop-load.js"></script>
  
  
    
  </body>
</html>
