<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../public/script/header') %>
   
  </head>
  <body style="background:transparent">

    <%- include('../public/script/navbar') %>

    <div class="container">
        <div class="row ">
          <img class="index__tesa-logo" itemprop="image" src="/images/topgun_logo.png" alt="">
        </div>
        <div class="row">
          <img class = "index__sponsor" itemprop="image" src="/images/sponsor.jpg" alt="">
        </div>
        <div class="row">
          <img class = "index__team-logo" itemprop="image" src="/images/team_logo.png" alt="">
          <img class = "index__pokeball" itemprop="image" src="/images/pokeball.svg" alt="">
        </div>
    </div>
     <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4><a href="/temperature">Temperature</a></h4>
    <h4><a href="/accelerometer">Accelerometer</a></h4>
    <h4><a href="/pressure">Pressure</a></h4>
    <h4><a href="/humidity">Humidity</a></h4>
    <h4><a href="/gyroscope">Gyroscope</a></h4>
    <h4><a href="/magnetometer">Magnetometer</a></h4>
    <h4><a href="/din1">Din1</a></h4> -->

  </body>
</html>
