<!DOCTYPE html>
<html>
  <head>
    <title>Gyroscope</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/Gyroscope/get">Get Gyroscope</a></h3>
      <h1>Gyroscope</h1>
      <% if(gyroscope.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>sensID</th>
            <th>val_x</th>
            <th>val_y</th>
            <th>val_z</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<gyroscope.length;i++) { %>
            <tr>
              <td><%= gyroscope[i].sensID %></td>
              <td><%= gyroscope[i].val_x %></td>
              <td><%= gyroscope[i].val_y %></td>
              <td><%= gyroscope[i].val_z %></td>
              <td><%= gyroscope[i].date %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
      <% } else { %>
        <div>No Gyroscope found.</div>
      <% } %>
    </div>
  </body>
</html>
