<!DOCTYPE html>
<html>
  <head>
    <title>Din1</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <meta charset="utf-8" />
    <!-- INCLUDES -->
    <link rel="stylesheet" href="/tether/css/tether.min.css" />
    <script src="/tether/js/tether.min.js"></script>
    <!-- Base styles: Libraries -->
    <link rel="stylesheet" href="/datatable-template-master/css/lib/bootstrap.css" />
    <link rel="stylesheet" href="/datatable-template-master/css/lib/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/datatable-template-master/css/lib/font-awesome-4.2.0.css" />
    <link rel="stylesheet" href="/datatable-template-master/css/lib/jquery.dataTables.min.css" />
    
    <!-- Base styles -->
    <link rel="stylesheet" href="/datatable-template-master/css/base.css" />
    <link rel="stylesheet" href="/datatable-template-master/css/base-datatable.css" />

    <!-- JS: Libraries -->
    <script src="/datatable-template-master/js/lib/jquery-1.11.1.js"></script>
    <script src="/datatable-template-master/js/lib/jquery.dataTables.min.js"></script>
    <script src="/datatable-template-master/js/lib/tabletop.js"></script>
    <script src="/datatable-template-master/js/lib/underscore.js"></script>
    <script src="/datatable-template-master/js/lib/handlebars-v1.3.0.js"></script>
    <!-- End Google Analytics Javascript -->

    <!-- ######################## Start link and script for Navbar ############################### -->
    <link rel="stylesheet" href="/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <!-- <script src="/bootstrap-4.0.0-alpha.6-dist/js/jquery.min.js"></script> -->
    <script src="/bootstrap-4.0.0-alpha.6-dist/js/popper.min.js"></script>
    <script src="/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
    <!-- ######################## End link and script for Navbar ############################### -->
  </head>
  <body>
    <!-- <div class="container">
      <h3><a href="/din1/get">Get Din1</a></h3>
      <h1>Din1</h1>
      <% if(din1.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>TeamID</th>
            <th>sensID</th>
            <th>val</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<din1.length;i++) { %>
            <tr>
              <td><%= din1[i].TeamID %></td>
              <td><%= din1[i].sensID %></td>
              <td><%= din1[i].val %></td>
              <td><%= din1[i].date %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
      <% } else { %>
        <div>No din1 found.</div>
      <% } %>
    </div> -->

    <div class ="content">
        <div class ="row" >
            <h3><a href="/din1/get">Get Temperature</a></h3>  
              <h1>Din1</h1>
              <form method="post" action="/din1/time">
                 <input type="time" name="time" placeholder="(HH:MM)"  />
                 <input type="submit" />
              </form>
            </div>
        
  
       <!-- Start Old Code  -->
            <!-- <div class="container">
              <h3><a href="/din1/get">Get Din1</a></h3>
              <h1>Din1</h1>
              <% if(din1.length>0) { %>
              <table class="list-table">
                <thead>
                  <tr>
                    <th>TeamID</th>
                    <th>sensID</th>
                    <th>val_x</th>
                    <th>val_y</th>
                    <th>val_z</th>
                    <th>date</th>
                  </tr>
                </thead>
                <tbody>
  
                  <% for(var i=0; i<din1.length;i++) { %>
                    <tr>
                      <td><%= din1[i].TeamID %></td>
                      <td><%= din1[i].sensID %></td>
                      <td><%= din1[i].val_x %></td>
                      <td><%= din1[i].val_y %></td>
                      <td><%= din1[i].val_z %></td>
                      <td><%= din1[i].date %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table> 
              <% } else { %>
                <div>No din1 found.</div>
              <% } %>
            </div> -->
        <!-- End Old code  -->
  
  
        <!-- ########################### Start navbar ############################ -->
  
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><h5>TESA</h5></a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="/temperature">Temperature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accelerometer">Din1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/din1">Digital Input 1</a>
              </li> 
            </ul>
          </nav>
        <!-- ########################### End navbar ############################ -->
  
  
        
        <div id="body-content">
            
            <!-- Subhead -->
            <h1 class="hide-iframe">Din1</h1>
            <!-- Subhead -->
            <div class="header header-sub hide-desktop show-iframe">
                <div class="header-sub-header">
                    <p>Din1</p>
                </div>
            </div>
            Content box
            <div id="content-box">
                <p id="first-p" class="intro-text">Edit by Psyduck and the Gang</p>
                <table id="searchable-table" class="display">
                    <% if(din1.length>0) { %>
                    <thead>
                        <tr>
                            <th>TeamID</th>
                            <th>sensID</th>
                            <th>date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            <!-- Close content box-->
           </div>
           <div id="footer" class="header hide-desktop show-mobile">
                <a href="#">Scroll to top</a>
            </div>
            <!-- Close body content-->
            
            <!-- Templates -->
            <script id="datatable-template" type="">
                
                <% for(var i=0; i<din1.length ;i++) { %>
                
                <tr class=" body">
                    <td><%= din1[i].TeamID %></td>
                    <td><%= din1[i].sensID %></td>
                    <td><%= din1[i].date %></td>
                    
                                  
                  </tr>
                  
                  <% } %>
  
                  <% } else { %>
                    <div>No din1 found.</div>
                  <% } %>
        </script> -->
  
        <!-- #################### End Code table#######################  -->
  
    <!-- Custom JS -->
    <script src="/datatable-template-master/js/base.js"></script>
    <script src="/datatable-template-master/js/datatable-tabletop-load.js"></script>
    <!-- Close content-->
    </div>
    </div>


    
  </body>
</html>
