<!DOCTYPE html>
<html>
  <head>
    <%- include('../../public/script/header') %>
    <title>Accelerometer</title>
  </head>
  <body>
      
<<<<<<< HEAD
    <div class >
=======
    <%- include('../../public/script/navbar') %>
    <div class ="container content">
>>>>>>> e34fbef43387ae29270c0828d28a793f17eb1acf
      <div class ="row" >
          <h3><a href="/accelerometer/get">Get Accelerometer</a></h3>  
          </div>
      
      
      <div id="body-content">
          
          <!-- Subhead -->
          <h1 class="hide-iframe">Accelerometer</h1>
          <!-- Subhead -->
          <div class="header header-sub hide-desktop show-iframe">
              <div class="header-sub-header">
                  <p>Accelerometer</p>
              </div>
          </div>
          Content box
          <div id="content-box">
              <p id="first-p" class="intro-text">Edit by Psyduck and the Gang</p>
              <table id="searchable-table" class="display">
                  <% if(accelerometer.length>0) { %>
                  <thead>
                      <tr>
                          <th>TeamID</th>
                          <th>sensID</th>
                          <th>val_x</th>
                          <th>val_y</th>
                          <th>val_z</th>
                          <th>date</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          <!-- Close content box-->
         </div>
         <div id="footer" class="header hide-desktop show-mobile">
              <a href="#">Scroll to top</a>
          </div>
          <!-- Close body content-->
          
          <!-- Templates -->
          <script id="datatable-template" type="">
              
              <% for(var i=0; i<accelerometer.length ;i++) { %>
              
              <tr class=" body">
                  <td><%= accelerometer[i].TeamID %></td>
                  <td><%= accelerometer[i].sensID %></td>
                  <td><%= accelerometer[i].val_x %></td>
                  <td><%= accelerometer[i].val_y %></td>
                  <td><%= accelerometer[i].val_z %></td>
                  <td><%= accelerometer[i].date %></td>
                  
                                
                </tr>
                
                <% } %>

                <% } else { %>
                  <div>No accelerometer found.</div>
                <% } %>
      </script> -->

      <!-- #################### End Code table#######################  -->

  <!-- Custom JS -->
  <script src="/datatable-template-master/js/base.js"></script>
  <script src="/datatable-template-master/js/datatable-tabletop-load.js"></script>
  <!-- Close content-->
  </div>
  </div>
  </body>
</html>
