<!DOCTYPE html>
<html>
  <head>
    <%- include('../../public/script/header') %>
    <title>Accelerometer</title>
  </head>
  <body>
      
    <%- include('../../public/script/navbar') %>
    <div class ="container content">
      
      <div id="body-content">
          
            <div class="">
                <div class="subpage__header">
                    <h1>Accelerometer</h1>
                </div>
                <a class="active btn btn-success" href="/acceleromerter/get">Update Temperature</a>
            </div> 
          <div id="content-box">
              <table id="searchable-table" class="display">
                  <% if(accelerometer.length>0) { %>
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>sensID</th>
                          <th>X</th>
                          <th>Y</th>
                          <th>Z</th>
                          <th>Date</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          <!-- Close content box-->
         </div>
         <div id="footer" class="header hide-desktop show-mobile">
              <a href="#">Scroll to top</a>
          </div>
          <!-- Close body content-->
          
          <!-- Templates -->
          <script id="datatable-template" type="">
              
              <% for(var i=0; i<accelerometer.length ;i++) { %>
              
              <tr class=" body">
                  <td><%= accelerometer[i].TeamID %></td>
                  <td><%= accelerometer[i].sensID %></td>
                  <td><%= accelerometer[i].val_x %></td>
                  <td><%= accelerometer[i].val_y %></td>
                  <td><%= accelerometer[i].val_z %></td>
                  <td><%= accelerometer[i].date.toLocaleString() %></td>
                  
                                
                </tr>
                
                <% } %>

                <% } else { %>
                  <div>No accelerometer found.</div>
                <% } %>
<<<<<<< HEAD
      </script> 
=======
      </script>
>>>>>>> f5ab8e26bf6542f2f74d95686ec0c03654ace625

      <!-- #################### End Code table#######################  -->

  <!-- Custom JS -->
  <script src="/datatable-template-master/js/base.js"></script>
  <script src="/datatable-template-master/js/datatable-tabletop-load.js"></script>
  <!-- Close content-->
  </div>
  </div>
  </body>
</html>
