<!DOCTYPE html>
<html lang="en">
<head>
	<title>Temperature</title>
  <%- include('../../public/script/header') %>

</head>
<body>
	<%- include('../../public/script/navbar') %>
	<div class="limiter">
            <div class="">
                    <div class="subpage__header">
                        <h1>Digital Input</h1>
                    </div>
                    <a class="active btn btn-success" href="/accelerometer/get">Update Digital Input</a>
            </div> 
  
    <div class="container-table100" style="background: transparent; text-align:center;"  >
			<div class="wrap-table100">
				
				<div class="table100 ver3 m-b-110">
					<div class="table100-head">
						<table>
							
							<thead>
                  <% if(accelerometer.length>0) { %>
								<tr class="row100 head">
									<th class="cell100 column5">ID</th>
									<th class="cell100 column5">SensID</th>
									<th class="cell100 column5">X</th>
                                    <th class="cell100 column5">Y</th>
                                    <th class="cell100 column5">Z</th>
                                    <th class="cell100 column5">Date</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							
							<tbody>
                  <% for(var i=0; i<accelerometer.length;i++) { %> 
								<tr class="row100 body">
									<td class="cell100 column5"><%= accelerometer[i].TeamID %></td>
									<td class="cell100 column5"><%= accelerometer[i].sensID %></td>
                                    <td class="cell100 column5"><%= accelerometer[i].val_x %></td>
                                    <td class="cell100 column5"><%= accelerometer[i].val_y %></td>
                                    <td class="cell100 column5"><%= accelerometer[i].val_z %></td>
									<td class="cell100 column5"><%= accelerometer[i].date.toLocaleString() %></td>
									
								</tr>
              </tbody>
              <% } %>
              <% } else { %>
                <div>No accelerometer found.</div>
              <% } %>
						</table>
								

				                
					</div>
				</div>

				
			</div>
		</div>
	</div>

<<<<<<< HEAD
=======
                <% } else { %>
                  <div>No accelerometer found.</div>
                <% } %>
      </script>
>>>>>>> 4caec9147a94d7c71a6326d1a7e2cbe1683289e7

  <%- include('../../public/script/tails') %>

</body>
</html>