<!DOCTYPE html>
<html lang="en">

<head>
    <title>Predict</title>
    <%- include('../../public/script/header') %>

</head>

<body>
    <%- include('../../public/script/navbar') %>
        <div class="container limiter">
            <div class="row ">
                <div class="col-sm-9 subpage__header">
                    <h1>Predict</h1>
                </div>
            </div>
        </div>

        <div class="container-table100" style="background: transparent; text-align:center;">
            <div class="wrap-table100">

                <div class="table100 ver3 m-b-110">
                    <div class="table100-head">
                        <table>

                            <thead>
                                <% if(predict.length>0) { %>
                                    <tr class="row100 head">
                                        <th class="cell100 column5">TeamID</th>
                                        <th class="cell100 column5">Elephant(%)</th>
                                        <th class="cell100 column5">Fire(%)</th>
                                        <th class="cell100 column5">Tree(%)</th>
                                        <th class="cell100 column5">Normal(%)</th>
                                        <th class="cell100 column5">Date</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>

                            <tbody>
                                <% for(var i=0; i<predict.length;i++) { %>
                                    <tr class="row100 body">
                                        <td class="cell100 column5">
                                            <%= predict[i].TeamID %>
                                        </td>
                                        <td class="cell100 column5">
                                            <%= Number(predict[i].elephen*100).toFixed(2) %>
                                        </td>
                                        <td class="cell100 column5">
                                            <%= Number(predict[i].fire*100).toFixed(2) %>
                                        </td>
                                        <td class="cell100 column5">
                                            <%= Number(predict[i].tree*100).toFixed(2) %>
                                        </td>
                                        <td class="cell100 column5">
                                            <%= Number(predict[i].normal*100).toFixed(2) %>
                                        </td>
                                        <td class="cell100 column5">
                                            <%= predict[i].date.toLocaleString() %>
                                        </td>

                                    </tr>
                            </tbody>
                            <% } %>
                                <% } else { %>
                                    <div>No predict found.</div>
                                    <% } %>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        </div>


        <%- include('../../public/script/tails') %>

</body>

</html>