<!DOCTYPE html>
<html>
  <head>
      <%- include('../../public/script/header') %>
    <title>Predict</title>
  </head>
  <body>

    <%- include('../../public/script/navbar') %>
    <div>

      
      <div class ="row default-button" >
        <h3><a href="/predict/get">Get Predict</a></h3>  
      </div>

      <div id="body-content">
          <h1 class="hide-iframe">Predict</h1>
          <!-- Subhead -->
          <div class="header header-sub hide-desktop show-iframe">
              <div class="header-sub-header">
                  <p>Predict</p>
              </div>
          </div>
          <!-- Content box-->
          <div id="content-box">
              <p id="first-p" class="intro-text">Edit by Psyduck and the Gang</p>
              <table id="searchable-table" class="display">
                  <% if(predict.length>0) { %>
                  <thead>
                      <tr>
                          <th>TeamID</th>
                          <th>Description/th>
                          <th>Date/th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          <!-- Close content box-->
         </div>
         <div id="footer" class="header hide-desktop show-mobile">
              <a href="#">Scroll to top</a>
          </div>
          <!-- Close body content-->
          </div>
          <!-- Templates -->
          <script id="datatable-template" type="">
              <% for(var i=0; i<predict.length;i++) { %> 
              <tr class="row100 body">
                  <td><%= predict[i].TeamID %></td>
                  <td><%= predict[i].description %></td>
                  <td><%= predict[i].date %></td>
                </tr>
                
                <% } %>

                <% } else { %>
                  <div>No predict found.</div>
                <% } %>
      </script>

      <!-- #################### End Code table#######################  -->
    
  <!-- Custom JS -->
  <script src="/datatable-template-master/js/base.js"></script>
  <script src="/datatable-template-master/js/datatable-tabletop-load.js"></script>
  <!-- Close content-->
  
    
  </body>
</html>
